h1, #results {
	text-align: center; 
}
#preferences {
    text-align: center; 
}
select {
    margin-left: 10px;
}
#orderOptions {
    text-align: center; 
}
.container {
    margin-top: 50px; 
}
#results {
    margin-top: 15px; 
}
body {
    background-image: url("piratebar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 75px; 
}
#pirateBar {
    background-color: rgba(12, 4, 4, 0.2);
}

h1, label, h3, h5 {
    color: white;
    text-shadow: 2px 2px 2px black; 
    text-align: center;
}
#intro {
    text-align: center;
}

label {
    font-size: 16px; 
}